div #btn{
    width:5%;
    height:20px;
    background-color:red;
    cursor: pointer;
}

#FontC h2{
    font-family: 'Dela Gothic One', cursive;
}

#FontC p{
    font-family: 'Volkhov', serif;
}

#AU {
    font-size: larger;
}

img #test {
    position:relative;
    z-index: 0;
    background-color:grey;
    width:100%;
    height:500px;
}
.contactUs {
    text-align: center;
}
#list {
    list-style-type: none;
}
.aboutUs {
    text-align: center;
}

#column-rows{
    background-color:blue;
    padding:5%

}
.top-bar {
    position:relative;
    padding:2rem;
}

.top-bar-left img{
    position: absolute;
    height: 90%;
    width: 9%;    
    left:35rem;
    z-index: index 1;
    bottom: 0rem;
}
